@CHARSET "UTF-8";

/*------------------------------------------------------------------------------------------------*/
/* Common */
section 							{width:100%;height:100%;min-width:1000px;}
section,.section					{position:relative;width:100%;height:100%;overflow:hidden;}

/* MyFrame */
.MyFrame 						{position:absolute;top:0;bottom:0;left:0;right:0;width:100%;height:100%;overflow:hidden;}
.MyFrame #MyVideo		 			{position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);}
.MyFrame #MyVideo		 			{min-width:100%;min-height:100%;width:auto;height:auto;object-fit:cover;}


/* Slide */
.slide 							{position:relative;width:100%;height:100%;overflow:hidden;min-width:1000px;height:562px;}
.slide_show 						{position:relative;width:100%;height:100%;overflow:hidden;}
.slide_show > li 					{position:absolute;top:0;left:0;width:100%;height:100%;overflow:hidden;}
.slide_show > li.active 			{z-index:100!important;}
.slide #nav > a 					{position:absolute;transition: 0.3s ease;z-index:350;}


/* Slide_01 */
.slide #nav > a 					{top:50%;width:120px;height:36px;margin-top:-18px;}
.slide #nav > a.prev				{left:0;}
.slide #nav > a.next				{right:0;}
.slide #nav > a:hover				{opacity:0.85;}
.slide #nav > ul 					{position:absolute;left:50%;bottom:35px;overflow:hidden;z-index:350;}
.slide #nav > ul li 				{float:left;width:21px;}
.slide #nav > ul li a 			{width:17px;height:17px;display:block;margin:0 auto;background:url(../images/off.png) no-repeat 0 0;}
.slide #nav > ul li a.active 		{background:url(../images/on.png) no-repeat 0 0;}
.slide #nav > ul li a span.alt {display:none;} 


/* Header */
header 							{position:fixed;top:0;left:0;width:100%;min-width:1200px;z-index:1000;}
header h1 						{position:absolute;top:30px;left:30px;z-index:10;}
header h1 a						{background:url(../images/logo_b.png) no-repeat left top;width:120px;height:160px;}
header .gnb 						{ position:absolute; top:50px; right:50px;z-index:10; display:flex;}
header .gnb > li  					{float:left; position: relative;  padding:0 15px; flex:1;}
header .gnb > li > a					{display:block; font-size:17px; text-align:center;}
header .gnb > li > a span				{color: #fff; text-shadow:2px 2px 2px rgb(0 0 0 / 15%);}

header h1 a					{background:url(../images/logo.png) no-repeat left top;}
header .lnb { position: absolute; top: 40px; left: 50%; transform: translateX(-50%); width: 130px; z-index: 100; }
header .lnb_01 {height:120px;}
header .lnb_02 {height:195px;}
header .lnb > li { background-color: rgba(238, 238, 238, 0.5); margin: 3px 0; }
header .lnb > li > a { padding: 15px 0; text-align: center; }
header .lnb > li > a > span { font-size: 15px; color: #222; }
header .lnb > li:hover a span { color: #000; }

/* Footer */
footer 							{position:relative;width:100%;min-width:1000px;background:#3f3f3f;padding:3% 0;overflow:hidden;z-index:3300;}
footer .InBox 					{background:#3f3f3f;max-width:1300px;min-width:900px;margin:0 auto;padding:0 50px;overflow:hidden;}
footer .InBox h5 					{float:left;}
footer .InBox div 				{float:right;text-align:right;}
footer .InBox div p 				{color:#b0b0b0;font-size:20px;margin-bottom:15px;line-height:1.5;}
footer .InBox div ul 				{line-height:1.5;}
footer .InBox div ul li 			{color:#b0b0b0;font-size:16px;}
header a,footer a 				{display:block;} 



/*------------------------------------------------------------------------------------------------*/
/* Index */
#index .video h2 {position:absolute;top:50%;left:50%;width:211px;height:264px;margin:-132px 0 0 -106px;z-index:100; opacity:0; transform:translateY(10%); transition:1.25s;}
#index .video .bg	{position:absolute;top:10px;left:10px;width:calc(100% - 22px);height:calc(100% - 22px);border:1px dotted #fff;z-index:101;}

#index .text {padding:6.5% 0;}
#index .text h3 {width:211px;margin:0 auto; opacity:0; transform:translateY(10%); transition:1.25s;}


/*------------------------------------------------------------------------------------------------*/
/* About */
#about .text {padding-top:230px;}
#about .text h2 {text-align:center;font-size:20px;letter-spacing:1px;padding-bottom:50px;}
#about .text h2 .point {background:url(../images/point.jpg) no-repeat left top;width:87px;height:7px;margin:35px auto 50px;}
#about .text p {font-size:16px;line-height:1.5;text-align:center;}
#about .movie {padding:5% 0;}
#about .movie iframe {max-width:1400px;min-width:1000px;display:block;margin:0 auto;}
#about .map {padding:150px 0 30px;}
#about .map h2 {text-align:center;font-size:20px;letter-spacing:1px;padding-bottom:50px;}
#about .map h2 .point {background:url(../images/point.jpg) no-repeat left top;width:87px;height:7px;margin:35px auto 50px;}
#about .map p {font-size:16px;line-height:1.5;text-align:center; margin-bottom:65px;}
#about .map #map {position: relative; margin:0 auto; width:100%; max-width:1200px; height:550px}
#about .location {padding:120px 0 0;}
#about .location div {background:url(http://gonylab8.speedgabia.com/pinetree/about/map.jpg) no-repeat 50% 50%; background-size:cover;}
#about .location div {position: relative; width:100%; max-width:1300px; height:700px; margin:0 auto 20px; overflow: hidden; z-index:1;}



/*------------------------------------------------------------------------------------------------*/
/* Location */
#location .text {padding-top:230px;}
#location .text h2 {text-align:center;font-size:20px;letter-spacing:1px;padding-bottom:50px;}
#location .text h2 .point {background:url(../images/point.jpg) no-repeat left top;width:87px;height:7px;margin:35px auto 50px;}
#location .text p {font-size:16px;line-height:1.5;text-align:center;}
#location .text p span {text-align:center;}
#location .location {height:482px;width:1000px;margin:0 auto;padding:5% 0;}


/*------------------------------------------------------------------------------------------------*/
/* Rooms */
#room .top {padding-top:7%;}
#room .top h1 {text-align:center;font-size:36px;letter-spacing:1px;}
#room .top h1 span {font-size:17px;display:block;margin-bottom:10px;}
#room .top .point {background:url(../images/point.jpg) no-repeat left top;width:87px;height:7px;margin:0 auto;}
#room .top > span {text-align:center;font-size:18px;display:block;margin-top:15px;font-family:nanumbarungothicregular;}

#room .infos {width:90%;margin:0 auto;padding:7% 0 7%;}
#room .infos h1 {font-size:25px;text-align:center;letter-spacing:1px;}
#room .infos .img {position:relative;width:27%;margin:3.5% auto;overflow:hidden;border-radius:50%;}	
#room .infos .img div {position:absolute;top:0;left:0;width:100%;height:100%;border-radius:50%;transform:scale(0.7);opacity:0;}
#room .infos p {font-size:20px;text-align:center;line-height:2em;margin-bottom:5%;}
#room .infos p span { display: block; font-size: 16px; color: #777; }
#room .infos .txt {width:90%;margin:0 auto;overflow:hidden;}
#room .infos .txt dl {float:left;width:calc(50% - 40px);margin:0 20px 10px;line-height:1.8em;font-size:16px;overflow:hidden;}
#room .infos .txt dl dt {float:left;width:80px;background:url(../images/blt.gif) no-repeat left 8px;padding-left:15px;}
#room .infos .txt dl dd {float:left;width:calc(100% - 95px);}

#room .text {padding:5% 0;}
#room .text h1 {text-align:center;font-size:36px;letter-spacing:1px;margin-bottom:5%;}
#room .text h1 span {font-size:17px;display:block;margin-bottom:10px;}
#room .text .point {background:url(../images/point.jpg) no-repeat left top;width:87px;height:7px;margin:0 auto;}
#room .text p {text-align:center;font-size:16px;line-height:1.8em;}
#room .text p span {display:block;font-size:22px;margin:35px 0;letter-spacing:0.5px;}

#room .movie {padding:5% 0;}
#room .movie #iframe {margin:0 auto;display:block;}

/* poolvilla */
#poolvilla .top {padding-top:7%;}
#poolvilla .top h1 {text-align:center;font-size:36px;letter-spacing:1px;}
#poolvilla .top h1 span {font-size:17px;display:block;margin-bottom:10px;}
#poolvilla .top .point {background:url(../images/point.jpg) no-repeat left top;width:87px;height:7px;margin:0 auto;}
#poolvilla .top > span {text-align:center;font-size:18px;display:block;margin-top:15px;font-family:nanumbarungothicregular;}
#poolvilla .infos {width:90%;margin:0 auto;padding:7% 0 7%;}
#poolvilla .infos h1 {font-size:25px;text-align:center;letter-spacing:1px;}
#poolvilla .infos .img {position:relative;width:27%;margin:3.5% auto;overflow:hidden;border-radius:50%;}	
#poolvilla .infos .img div {position:absolute;top:0;left:0;width:100%;height:100%;border-radius:50%;transform:scale(0.7);opacity:0;}
#poolvilla .infos p {font-size:20px;text-align:center;line-height:2em;margin-bottom:5%;}
#poolvilla .infos p span { display: block; font-size: 16px; color: #777; }
#poolvilla .infos .txt {width:90%;margin:0 auto;overflow:hidden;}
#poolvilla .infos .txt dl {float:left;width:calc(50% - 40px);margin:0 20px 10px;line-height:1.8em;font-size:16px;overflow:hidden;}
#poolvilla .infos .txt dl dt {float:left;width:80px;background:url(../images/blt.gif) no-repeat left 8px;padding-left:15px;}
#poolvilla .infos .txt dl dd {float:left;width:calc(100% - 95px);}
#poolvilla .text {padding:5% 0;}
#poolvilla .text h1 {text-align:center;font-size:36px;letter-spacing:1px;margin-bottom:5%;}
#poolvilla .text h1 span {font-size:17px;display:block;margin-bottom:10px;}
#poolvilla .text .point {background:url(../images/point.jpg) no-repeat left top;width:87px;height:7px;margin:0 auto;}
#poolvilla .text p {text-align:center;font-size:16px;line-height:1.8em;}
#poolvilla .text p span {display:block;font-size:22px;margin:35px 0;letter-spacing:0.5px;}
#poolvilla .movie {padding:5% 0;}
#poolvilla .movie #iframe {margin:0 auto;display:block;}

/*------------------------------------------------------------------------------------------------*/
/* Reserve */
.table .banner {height:500px;}
.table .banner:before {position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.5;content:"";z-index:1;}
.table .banner h1 {position:absolute;top:50%;left:50%;margin:-20px 0 0 -400px;font-size:40px;color:#fff;width:800px;text-align:center;letter-spacing:1px;z-index:100;}
.table .banner h1 span {display:block;margin-top:15px;font-size:20px;letter-spacing:2px;}

.table .content {position:relative;max-width:1200px;min-width:1000px;padding:50px 0 150px;margin:0 auto;overflow:hidden;}
.table .content .snb {width:400px;margin:0 auto;padding:35px 0;overflow:hidden;}
.table .content .snb > li {float:left;width:50%;background:url(../images/pv_b.gif) no-repeat right center;}
.table .content .snb > li:last-child {background:none;}
.table .content .snb > li a {display:block;padding:15px 0;text-align:center;font-size:17px;}
.table .content .snb > li.active a {font-weight:bold;}

/*------------------------------------------------------------------------------------------------*/
/* Reserve */
#reserve .text {padding-top:230px;}
#reserve .text h2 {text-align:center;letter-spacing:1px;padding-bottom:50px;}
#reserve .text h2 .point {background:url(../images/point.jpg) no-repeat left top;width:87px;height:7px;margin:35px auto 50px;}
#reserve .text h2 strong {font-size:35px;display:block;}
#reserve .text h2 span {font-size:18px;display:block;margin-top:10px;}

#reserve .tab_02 {display:none;}
#reserve .tab_02 h2 {width:250px;margin:0 auto;padding:0px 0 35px;}
#reserve .tab_02 table {width:100%;border:1px solid #e7e7e7;font-family:'돋움',Dotum!important;}
#reserve .tab_02 table tr th {border-right:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7;}
#reserve .tab_02 table tr th,
#reserve .tab_02 table tr td {
	border-right:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7;
	text-align:center;font-size:13px;color:#676767;
}
#reserve .tab_02 > div > h4 {margin-bottom:10px;}
#reserve .tab_02 ul li {
	padding-left:10px;font-size:12px;line-height:1.6em;color:#676767;font-family:'돋움',Dotum!important;
	background:url(http://gonylab2.speedgabia.com/common/li_b.gif) no-repeat left 3px;
}
#reserve .tab_02 ul li span {color:#ee3939;}
#reserve .tab_02 .r_info_01 {position:relative;margin-bottom:30px;}
#reserve .tab_02 .r_info_01 h4 {text-align:left;margin-bottom:10px;}
#reserve .tab_02 .r_info_01 table {margin-bottom:20px;}
#reserve .tab_02 .r_info_01 table .room_ {background:#efefef;height:50px;}
#reserve .tab_02 .r_info_01 table > thead {line-height:1.1em;}
#reserve .tab_02 .r_info_01 table > thead {background:#f8f8f8;}
#reserve .tab_02 .r_info_01 table > thead tr th {font-weight:bold;}
#reserve .tab_02 .r_info_01 table > tbody tr td {line-height:3em;}
#reserve .tab_02 .r_info_02 {margin:50px 0;padding-top:50px;text-align:left;} 
#reserve .tab_02 .r_info_03 {text-align:left;}
#reserve .tab_02 .r_info_03 .CNCL_COMM {margin-bottom:50px;}
#reserve .tab_02 .r_info_03 table {line-height:1.5em;margin-top:20px;}
#reserve .tab_02 .r_info_03 table > thead {background:#f2f2f2;}